@keyframes futuristic-background {
  0% {
    background-color: #0072ff;
  }

  50% {
    background-color: #00c6ff;
  }

  100% {
    background-color: #0072ff;
  }
}

/* 应用动画到背景 */
body {
  animation: futuristic-background 5s infinite;
}

span {
  display: inline-block;
  border: 1px solid pink;
  padding: 5px 10px;
  margin: 5px;
}